.box-container {
    display: flex;
    gap: 50px;
    margin-bottom: 30px;
}

.box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sync-status {
    display: flex;
    align-items: center;
    gap: 5px;
}

.service-info {
    background: #FFFFFF;
    padding: 12px;
    margin: 20px 0px 20px 0px;
}

.service-header {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 15px;
}

.deploy {
    cursor: pointer;
    outline: none;
    border: none;
    background: #6E27D5;
    padding: 10px 24px 10px 24px;
    border-radius: 4px;
    color: #FFF;
    font-weight: 700;
    font-size: 14px;
}

.versions {
    font-size: 12px;
    color: #595959;
}

.rotate {
    transform: rotate(180deg);
}

.last-updated {
    font-size: 12px;
    color: #595959;
}

.deploy-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}