.upload-container {
    position: fixed;
    right: 0;
    height: 100vh;
    background: #FFF;
    width: 550px;
    top: 0;
}

.file-upload-container {
    margin: 40px 20px 40px 20px;
    border: 1px solid #ccc;
    padding: 10px;
}

.cross {
    cursor: pointer;
    float: right;
    margin: 10px;
}

.dragger {
    height: 70px;
    background: #F8F8F8;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    gap: 5px;
}

.upload-sub-heading {
    font-size: 12px;
    color: #595959;
}

.inputs {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.key-input-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.layer-inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.key-input {
    border: 1px solid #939393;
    border-radius: 4px;
    height: 36px;
}

.cancel-button {
    cursor: pointer;
    background: #FFF;
    padding: 6px 10px 6px 10px;
    border-radius: 4px;
    font-weight: 700;
    font-size: 14px;
    border: 1px solid #333333;
    color: black;
}

.add-button {
    cursor: pointer;
    background: #6E27D5;
    padding: 8px 16px 8px 16px;
    border-radius: 4px;
    font-weight: 700;
    font-size: 14px;
    border: none;
    color: #FFF;
}